SECRET_KEY=your-secret-key-here

DEBUG=False

DB_HOST=your-database-host
DB_PORT =3306
DB_NAME=campus_connect
DB_USER=your-database-user
DB_PASSWORD=your-database-password

MAIL_USERNAME=your-email
MAIL_PASSWORD=your-email-password

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

BREVO_API_KEY=brevo-api-key

CLOUDINARY_CLOUD_NAME=cloudinary-name
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret