<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/reset-password.css">

<div class="page">

    <div class="reset-card">

        <h1>Reset Password</h1>
        <p class="subtitle">Enter a new password for your account</p>

        <div id="resetMessage" class="form-message"></div>

        <div class="input-box">
            <span class="icon">
                <svg viewBox="0 0 24 24"><path d="M17 8h-1V6a4 4 0 0 0-8 0v2H7a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2zm-5 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm3-9h-6V6a3 3 0 0 1 6 0z"/></svg>
            </span>
            <input id="newPassword" type="password" placeholder="New Password">
            <button id="toggleNew" type="button">SHOW</button>
        </div>

        <div class="input-box">
            <span class="icon">
                <svg viewBox="0 0 24 24"><path d="M17 8h-1V6a4 4 0 0 0-8 0v2H7a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2zm-5 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm3-9h-6V6a3 3 0 0 1 6 0z"/></svg>
            </span>
            <input id="confirmPassword" type="password" placeholder="Re-enter Password">
            <button id="toggleConfirm" type="button">SHOW</button>
        </div>

        <button class="confirm-btn" id="confirmBtn">Confirm</button>

        <a href="{{ url_for('auth.login') }}" class="back-link">&larr; Back to Login</a>

    </div>

</div>

<script src="../../static/js/reset-password.js"></script>
